# DATA 606 Capstone
## Marissa Tan
### Impact of COVID-19 on the US Housing Market
__Land Area, Population Estimate, Population__
- Land Area (2010) - census
- Population Estimate (2016, 2017, 2018, 2019) - usda
- Population Census (2020) - usda<br>

__Real Estate__<br>
- Read Real Estate - realtor.com 
- Format the datetime
- Rename columns
- Sort columns<br><br>

Acknowledgment: <br>
Maede Maftouni of Kaggle. https://www.kaggle.com/maedemaftouni/us-real-estate-market-trends-visualizationKen<br>
Ken Noppinger: https://github.com/knoppin1/DATA-606-Capstone

In [1]:
import pandas as pd

# 1. Land Area

## 1.1 Read Land Area

In [2]:
df_land = pd.read_excel('https://www2.census.gov/library/publications/2011/compendia/usa-counties/excel/LND01.xls')
df_land.head()

,Areaname,STCOU,LND010190F,LND010190D,LND010190N1,LND010190N2,LND010200F,LND010200D,LND010200N1,LND010200N2,...,LND110210N1,LND110210N2,LND210190F,LND210190D,LND210190N1,LND210190N2,LND210200F,LND210200D,LND210200N1,LND210200N2
0,UNITED STATES,0,0,3787425.08,0,0,0,3794083.06,0,0,...,0,0,0,251083.35,0,0,0,256644.62,0,0
1,ALABAMA,1000,0,52422.94,0,0,0,52419.02,0,0,...,0,0,0,1672.71,0,0,0,1675.01,0,0
2,"Autauga, AL",1001,0,604.49,0,0,0,604.45,0,0,...,0,0,0,8.48,0,0,0,8.48,0,0
3,"Baldwin, AL",1003,0,2027.08,0,0,0,2026.93,0,0,...,0,0,0,430.55,0,0,0,430.58,0,0
4,"Barbour, AL",1005,0,904.59,0,0,0,904.52,0,0,...,0,0,0,19.59,0,0,0,19.61,0,0

## 1.2 Clean Columns
Extract the needed columns: <br>
- Areaname - county and state
- STCOU - FIPS code for state and county
- LND110210D - LND - land area; 110- subgroup; 210 - 2(a year in the 21st century); 10(last two digits of the year); D - data. Therefore, this is a data gathered from 2010 in sqm.

In [3]:
df_land_area = df_land[['Areaname', 'STCOU', 'LND110210D']]
df_land_area.head(5)

        Areaname  STCOU  LND110210D
0  UNITED STATES      0  3531905.43
1        ALABAMA   1000    50645.33
2    Autauga, AL   1001      594.44
3    Baldwin, AL   1003     1589.78
4    Barbour, AL   1005      884.88

In [4]:
df_land_area.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3198 entries, 0 to 3197
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Areaname    3198 non-null   object
 1   STCOU       3198 non-null   int64
 2   LND110210D  3198 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 75.1+ KB

In [5]:
# Rename STCOU to FIPStxt
df_land_area.rename(columns = {'STCOU': "FIPStxt"}, inplace=True)

C:\Users\Pc\anaconda3\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [6]:
us_land_area = df_land_area[df_land_area.Areaname == 'UNITED STATES']
us_land_area

        Areaname  FIPStxt  LND110210D
0  UNITED STATES        0  3531905.43

In [7]:
# Remove the All states data from the State column
states_low= ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado',
          'Connecticut','Delaware','Florida', 'Georgia',
          'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky',
          'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 
          'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 
          'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 
          'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 
          'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 
          'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming']
len(states_low)

50

In [8]:
# Convert states to upper case
states1 = [x.upper() for x in states_low]
print("This is the first five states in the list that's capitalized")
states1[0:5]

This is the first five states in the list that's capitalized

['ALABAMA', 'ALASKA', 'ARIZONA', 'ARKANSAS', 'CALIFORNIA']

In [9]:
# Append to the list 
# Remove the All states data from the State column
states_dc = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado',
          'Connecticut','Delaware','District of Columbia','Florida', 'Georgia',
          'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky',
          'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 
          'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 
          'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 
          'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 
          'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 
          'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming']
states = [x.upper() for x in states_dc]
len(states1)

50

In [10]:
# Gets the rows with US and State level data
all_state_land_area = df_land_area[df_land_area.Areaname != 'UNITED STATES']
all_state_land_area = all_state_land_area[all_state_land_area['Areaname'].isin(states)].reset_index(drop=True)
all_state_land_area.head()

     Areaname  FIPStxt  LND110210D
0     ALABAMA     1000    50645.33
1      ALASKA     2000   570640.95
2     ARIZONA     4000   113594.08
3    ARKANSAS     5000    52035.48
4  CALIFORNIA     6000   155779.22

In [11]:
# all_states_land_area = df_land_area[df_land_area['Areaname'].isin(states1)]
print("This dataset still includes District of Columbia")
print("Number of all states: ", len(all_state_land_area['Areaname'].unique()))
all_state_land_area[all_state_land_area.Areaname == 'DISTRICT OF COLUMBIA']

This dataset still includes District of Columbia
Number of all states:  51

               Areaname  FIPStxt  LND110210D
8  DISTRICT OF COLUMBIA    11000       61.05

In [12]:
# Drop the rows with US and State level data
df_land_area = df_land_area[df_land_area.Areaname != 'UNITED STATES']
df_land_area = df_land_area[~df_land_area['Areaname'].isin(states1)].reset_index(drop=True)
df_land_area.head()

      Areaname  FIPStxt  LND110210D
0  Autauga, AL     1001      594.44
1  Baldwin, AL     1003     1589.78
2  Barbour, AL     1005      884.88
3     Bibb, AL     1007      622.58
4   Blount, AL     1009      644.78

In [13]:
print("This dataset still includes District of Columbia")
df_land_area[df_land_area.Areaname == 'DISTRICT OF COLUMBIA']

This dataset still includes District of Columbia

                 Areaname  FIPStxt  LND110210D
319  DISTRICT OF COLUMBIA    11000       61.05

In [14]:
[row for row in df_land_area.duplicated(keep='last') if row == True]

[]

## 1.3 Verify Data

In [15]:
df_land_area.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3147 entries, 0 to 3146
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Areaname    3147 non-null   object
 1   FIPStxt     3147 non-null   int64
 2   LND110210D  3147 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 73.9+ KB

# 2. Population Estimate

## 2.1 - Read Population Estimate (2016 - 2019)

In [ ]:
df_pop_est = pd.read_excel('https://www.ers.usda.gov/webdocs/DataFiles/48747/PopulationEstimates.xls', header=2)
df_pop_est.head(5)

In [ ]:
df_pop_est.columns[0:20]

## 2.2 Clean Columns
Extract only the needed columns:
- FIPStxt - FIPS code for state and county
- State - state abbreviation
- Area_Name - county
- POP_ESTIMATE_2016 - population estimate for 2016
- POP_ESTIMATE_2017 - population estimate for 2017
- POP_ESTIMATE_2018 - population estimate for 2018
- POP_ESTIMATE_2019 - population estimate for 2019

In [ ]:
df_pop_16_19 = df_pop_est[['FIPStxt', 'State', 'Area_Name','POP_ESTIMATE_2016',
       'POP_ESTIMATE_2017', 'POP_ESTIMATE_2018', 'POP_ESTIMATE_2019']]
df_pop_16_19.head()

In [ ]:
# Check the number of states
print("These are the number of states", len(df_pop_16_19['State'].unique()))
print("These are the states: ")
print(df_pop_16_19['State'].unique())

In [ ]:
# Save the US and All states in seperate files from the county files 
us_pop_16_19 = df_pop_16_19[df_pop_16_19.State == 'US']
us_pop_16_19

### 2.2a State Level

In [ ]:
all_states_pop_16_19 = df_pop_16_19[df_pop_16_19['Area_Name'].isin(states_dc)]
all_states_pop_16_19[all_states_pop_16_19['State']=='DC']

### 2.2b FIPS Level

In [ ]:
# Drop the rows with US, one District of Columbia and State level data
df_pop_16_19 = df_pop_16_19[df_pop_16_19.State != 'US']
df_pop_16_19= df_pop_16_19[df_pop_16_19.State != 'PR']
df_pop_16_19 = df_pop_16_19[~df_pop_16_19['Area_Name'].isin(states_low)].reset_index(drop=True)
df_pop_16_19.head()

In [ ]:
df_pop_16_19[df_pop_16_19["Area_Name"]=='District of Columbia']

In [ ]:
# Find and drop duplicate rows
[row for row in df_pop_16_19.duplicated(keep='last') if row == True]

## 2.3 Verify Data

In [ ]:
df_pop_16_19.info()

In [ ]:
print("There are ", len(df_pop_16_19['State'].unique()), " states.")
df_pop_16_19.State.unique()

In [ ]:
print("There are ", len(all_states_pop_16_19['State'].unique()), " states.")
all_states_pop_16_19.State.unique()

This record contains 51 states which includes District of Columbia; Puerto Rico is excluded

# 3. Population Actual

## 3.1 Read Population (2020)

In [ ]:
df_pop_20 = pd.read_csv('https://www.ers.usda.gov/webdocs/DataFiles/48747/PopulationEstimates.csv?v=390.6')
df_pop_20.head(10)

## 3.2 Clean Columns

In [ ]:
# Identify the columns
df_pop_20.columns

In [ ]:
# Identify the unique contents of Attribute
df_pop_20['Attribute'].unique()

In [ ]:
# Before cleaning, the attribute column will only have Population 2000
df_pop_20 = df_pop_20[df_pop_20.Attribute == 'Population 2020'].reset_index(drop=True)
df_pop_20

In [ ]:
# Keep FIPStxt, State, Area_name, and value. 
df_pop_20 = df_pop_20[['FIPStxt', 'State', 'Area name', 'Value']]

In [ ]:
# Rename Value to Pop2020
df_pop_20.rename(columns = {'Value': 'Pop_2020'}, inplace = True)
df_pop_20.head(5)

In [ ]:
# US population for 2020 
us_pop_20 = df_pop_20[df_pop_20.State == 'US']
us_pop_20

### 3.2a State Level

In [ ]:
# Keep the all state population for 2020
all_states_pop_20 = df_pop_20[df_pop_20['Area name'].isin(states_dc)]
all_states_pop_20 = all_states_pop_20[all_states_pop_20.State != 'PR']
print(len(all_states_pop_20))
all_states_pop_20[all_states_pop_20['State']=='DC']

### 3.2b FIPS Level

In [ ]:
# Remove the United States, all state, Puerto Rico, and duplicates
# Drop the rows with US, one District of Columbia and State level data
df_pop_20 = df_pop_20[df_pop_20.State != 'US']
df_pop_20 = df_pop_20[df_pop_20.State != 'PR']
df_pop_20 = df_pop_20[~df_pop_20['Area name'].isin(states_low)].reset_index(drop=True)
df_pop_20.head()

In [ ]:
# Keep the all state population for 2020
df_pop_20[df_pop_20['State']=='DC']

In [ ]:
# Find and drop duplicate rows
[row for row in all_states_pop_20.duplicated(keep='last') if row == True]

In [ ]:
# Find and drop duplicate rows
[row for row in df_pop_20.duplicated(keep='last') if row == True]

## 3.3 Verify Data

In [ ]:
df_pop_20.info()

# 4. Merge Land Area, Population 2016 to 2019, Population 2020

## 4.1 Cleaned

### 4.1a States Level
Compare all the dataset's states before joining to the dataframe

In [ ]:
# Land area data's FIPS code
print('This is the number of unique FIPS code in land area: ', len(all_state_land_area['FIPStxt'].unique()))

In [ ]:
# Population 2020 data's FIPS code
print('This is the number of unique FIPS code in population 2020: ', len(all_states_pop_20['FIPStxt'].unique()))

### 4.1b FIPS Level
Compare all the datasets FIPS cpde before joining to the dataframe

In [ ]:
# Land area data's FIPS code
print('This is the number of unique FIPS code in land area: ', len(df_land_area['FIPStxt'].unique()))

In [ ]:
# Population 2016-2019 data's FIPS code
print('This is the number of unique FIPS code in population 2016-2019: ', len(df_pop_16_19.FIPStxt.unique()))

In [ ]:
# Population 2020 data's FIPS code
print('This is the number of unique FIPS code in population 2020: ', len(df_pop_20.FIPStxt.unique()))

In [ ]:
# Check the value in the Population 2020 but not in Population 2016-2019
missing_pop_16_19 = df_pop_20[~df_pop_20.FIPStxt.isin(df_pop_16_19.FIPStxt.values)]
missing_pop_16_19

In [ ]:
# Check the value in the Population 2016-2019 but not in land area
missing_pop_16_19_land = df_pop_16_19[~df_pop_16_19.FIPStxt.isin(df_land_area.FIPStxt.values)]
missing_pop_16_19_land

In [ ]:
# Check the value in the land but not in Population 2020
missing_land_pop_20 = df_land_area[~df_land_area.FIPStxt.isin(df_pop_20.FIPStxt.values)]
missing_land_pop_20

In [ ]:
# Check the value in the Population 2016-2019 but not in land area
missing_pop_20_land = df_pop_20[~df_pop_20.FIPStxt.isin(df_land_area.FIPStxt.values)]
missing_pop_20_land

In [ ]:
# Check the value in the land but not in Population 2020
missing_land_pop_16_19 = df_land_area[~df_land_area.FIPStxt.isin(df_pop_16_19.FIPStxt.values)]
missing_land_pop_16_19

Based on the records, the results doesn't have land, incomplete population, nor non-county (area).
## 4.2 Merge Dataframes
The technique used for merging of three dataframe was suggested by cwharland and can be found in https://stackoverflow.com/questions/23668427/pandas-three-way-joining-multiple-dataframes-on-columns

### 4.2a State Level

In [ ]:
all_state_df = all_state_land_area.merge(all_states_pop_20, how='inner', left_on='FIPStxt', right_on='FIPStxt').drop(['Areaname', 'Area name'], axis=1)
len(all_state_df)

In [ ]:
all_state_df.columns

In [ ]:
# Rename and reindex columns
all_state_df = all_state_df.rename(columns = {'FIPStxt': 'FIPS', 'State':'state',
                                              'LND110210D': 'land_area', 'Pop_2020':'pop_2020'})

In [ ]:
# Reindex
all_state_df = all_state_df.reindex(columns=['FIPS', 'state','land_area', 'pop_2020'])
all_state_df.sample(5)

### 4.2b FIPS Level

In [ ]:
df = df_pop_20.merge(df_pop_16_19, on='FIPStxt').merge(df_land_area, on='FIPStxt').drop(['State_x', 'Area_Name', 'Areaname'], axis=1)
df

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
# Rename all the columns
df.rename(columns = {'FIPStxt': 'FIPS', 'Area name': 'county', "State_y": 'state',
                     'POP_ESTIMATE_2016':'pop_2016', 'POP_ESTIMATE_2017':'pop_2017',
                     'POP_ESTIMATE_2018': 'pop_2018', 'POP_ESTIMATE_2019': 'pop_2019',
                     'Pop_2020':'pop_2020', 'LND110210D': 'land_area'}, inplace= True)

In [ ]:
# Reindex all the columns
df = df.reindex(columns= ['FIPS', 'county', 'state', 'land_area', 'pop_2016', 'pop_2017', 
                     'pop_2018', 'pop_2019', 'pop_2020'])
df.head(5)

## 4.3 Save Population and Land Data to CSV

In [ ]:
df.to_csv('Pop_Land.csv', index=False)

In [ ]:
all_state_df.to_csv('State_Pop_Land.csv', index=False)

# 5. Real Estate Inventory

## 5.1 Read Real Estate Dataset

In [ ]:
df_RE = pd.read_csv('https://econdata.s3-us-west-2.amazonaws.com/Reports/Core/RDC_Inventory_Core_Metrics_County_History.csv')
df_RE.tail(5)

In [ ]:
# The last row is a note and was dropped
df_RE.drop(df_RE.tail(1).index, inplace=True)

In [ ]:
df_RE.info()

## 5.2 Format DateTime

In [ ]:
# The dates needs to be formatted to month, dates, and years.
change = {'month_date_yyyymm': int} 
df_RE = df_RE.astype(change)

In [ ]:
df_RE.info()

In [ ]:
# Formatting to Date column
df_RE['month_date_yyyymm'] = pd.to_datetime(df_RE['month_date_yyyymm'], format = '%Y%m')
df_RE.rename(columns={'month_date_yyyymm':'date'}, inplace = True)
df_RE.sample(5)

In [ ]:
# Extracting the Year and Month from the date
df_RE['month']= df_RE['date'].dt.month
df_RE['year']= df_RE['date'].dt.year
df_RE.sample(5)

## 5.3 Rename Columns

In [ ]:
# The county fips needs to fill 5 codes and change object to string
df_RE.rename(columns={'county_fips': 'FIPS'}, inplace=True)
df_RE['FIPS'] = df_RE['FIPS'].astype('str')
df_RE['FIPS'] = df_RE['FIPS'].apply(lambda x: x.zfill(5))

In [ ]:
# The county name needs to be separated.
# County should be title case. State should be all caps
df_RE[['county', 'state']] = df_RE.county_name.str.split(',', expand=True)
df_RE['state']= df_RE['state'].str.lstrip().str.upper()
df_RE['county']= df_RE['county'].str.title()
df_RE.sample(5)

In [ ]:
df_RE.info()

## 5.4 Sort Columns

In [ ]:
# Sorting records by State, County, and Date in ascending order
df_RE = df_RE.sort_values(by = ['state', 'county', 'date'], ascending = (True, True, True)).reset_index(drop = True)
df_RE.head(5)

# 6. Save Real Estate to CSV

In [ ]:
df_RE.to_csv('Real_Estate.csv', index=False)