# DATA 606 Capstone
## Marissa Tan
### Impact of COVID-19 on the US Housing Market
__Real Estate and Density Dataset__

This notebook performs analysis on:
- State Level 
    - Average List Price Mean
    - Average List Price Change Mean
- Whole US on FIPS (State and County Level)
    - Average List Price Mean
    - Average List Price Change Mean
- Individual States on FIPS (State and County Level)
    - Hawaii and Massachusetts
        - Average List Price Mean
        - Average List Price Change Mean

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

# 1. 2019 and 2021 CSV
This notebook will evaluate and compare the average listing price and average listing price change on the state and county level. 

## 1.1 Read 2019 and 2021 cleansed csv
Acknowledgement Maede Maftouni of Kaggle. Link as follow https://www.kaggle.com/maedemaftouni/us-real-estate-market-trends-visualization<br>
Reference:
https://datascientyst.com/get-top-10-highest-lowest-values-pandas/#:~:text=%20How%20to%20Get%20Top%2010%20Highest%20or,you%20can%20see%20in%20Step%202...%20More%20

In [2]:
df_2019 = pd.read_csv('df_2019.csv', index_col=False)
df_2019.sample(3)

,FIPS,year,month,county,state,date,density,active_listing_count,average_listing_price,average_listing_price_mm,average_listing_price_yy,median_listing_price,median_listing_price_mm,median_listing_price_yy,median_listing_price_per_square_foot,median_square_feet,total_listing_count,category
7772,51177,2019,8,Spotsylvania County,VA,2019-08-01,348,448.0,415913.0,0.0217,0.0900,369942.0,0.0001,0.0649,142.0,2702.0,538.0,Increase in prices
13501,48095,2019,12,Concho County,TX,2019-12-01,3,10.0,428130.0,0.1787,1.3854,207000.0,0.1629,0.7542,115.0,1984.0,13.0,Increase in prices
13329,48067,2019,8,Cass County,TX,2019-08-01,30,192.0,203899.0,0.0915,0.1776,134186.0,0.0330,0.0330,72.0,1836.0,196.0,Increase in prices

In [3]:
df_2021 = pd.read_csv('df_2021.csv', index_col=False)
df_2021.sample(3)

,FIPS,year,month,county,state,date,density,active_listing_count,average_listing_price,average_listing_price_mm,average_listing_price_yy,median_listing_price,median_listing_price_mm,median_listing_price_yy,median_listing_price_per_square_foot,median_square_feet,total_listing_count,category
15241,13185,2021,10,Lowndes County,GA,2021-10-01,238,213.0,282729.0,0.0384,-0.0197,210000.0,0.0007,-0.0228,121.0,1944.0,545.0,Down from last year
26253,54007,2021,5,Braxton County,WV,2021-05-01,24,15.0,121300.0,0.0209,-0.1567,95000.0,-0.0251,-0.1364,61.0,1536.0,28.0,Down from last year
24701,40011,2021,4,Blaine County,OK,2021-04-01,9,27.0,194050.0,0.2049,0.6360,120000.0,0.2152,0.2645,67.0,1698.0,37.0,Increase in prices

# 2. State
## 2.1 Highest Average Listing Price (Mean)
### 2.1a For the Year 2019

In [4]:
# This sorts the states with the highest average listing price in 2019
df_2019_state = df_2019.groupby(['state'])['average_listing_price'].mean().nlargest(10)
df_2019_state

state
HI    1.548047e+06
DC    9.708098e+05
MA    7.026050e+05
RI    6.959859e+05
CA    5.597055e+05
CO    5.062795e+05
NJ    4.921181e+05
OR    4.676112e+05
WA    4.514083e+05
NH    4.169864e+05
Name: average_listing_price, dtype: float64

### 2.1b For the Year 2021

In [5]:
# This sorts the states with the highest average listing price in 2021
df_2021_state = df_2021.groupby(['state'])['average_listing_price'].mean().nlargest(10)
df_2021_state

state
HI    1.776542e+06
RI    9.362832e+05
DC    9.340552e+05
MA    8.537671e+05
CA    7.788309e+05
NJ    5.975366e+05
CO    5.971765e+05
AZ    5.941826e+05
WA    5.748024e+05
OR    5.595276e+05
Name: average_listing_price, dtype: float64

### 2.1c The Similarities and Differences in 2019 and 2021

In [6]:
# Similar states with a high increase from the top 10 list of 2019 and 2021
similar = (df_2021_state.index).isin(df_2019_state.index)
df_2021_state[similar]

state
HI    1.776542e+06
RI    9.362832e+05
DC    9.340552e+05
MA    8.537671e+05
CA    7.788309e+05
NJ    5.975366e+05
CO    5.971765e+05
WA    5.748024e+05
OR    5.595276e+05
Name: average_listing_price, dtype: float64

In [7]:
df_2021_state[similar].index

Index(['HI', 'RI', 'DC', 'MA', 'CA', 'NJ', 'CO', 'WA', 'OR'], dtype='object', name='state')

In [8]:
# This is the same found in 2019 but not in 2021
df_2019_state[~(df_2019_state.index).isin(df_2021_state.index)]

state
NH    416986.433333
Name: average_listing_price, dtype: float64

In [9]:
# This is the same found in 2021 but not in 2019
df_2021_state[~(df_2021_state.index).isin(df_2019_state.index)]

state
AZ    594182.622222
Name: average_listing_price, dtype: float64

The highest average listing price are consistently Hawaii (HI), Rhode Island (RI), District of Columbia (DC), Massachusetts (MA), California (CA), New Jersey (NJ), Colorado (CO), Washington (WA), Oregon (OR). On 2019, the top 10 list included New Hampshire (NH), but on 2021 it was displaced by Arizona (AZ).
## 2.2 Highest Change Average Listing Price (Mean)
### 2.2a For the Year 2019

In [10]:
# This sorts the states with the highest change in average listing price in 2019
df_2019_yy = df_2019.groupby(['state'])['average_listing_price_yy'].mean().nlargest(10)
df_2019_yy

state
NV    0.206349
NE    0.184821
AK    0.161531
OK    0.138829
SD    0.128995
GA    0.126061
ID    0.112093
MO    0.103304
IN    0.092678
AL    0.090917
Name: average_listing_price_yy, dtype: float64

### 2.2b For the Year 2021

In [11]:
# This sorts the states with the highest change in average listing price in 2021
df_2021_yy = df_2021.groupby(['state'])['average_listing_price_yy'].mean().nlargest(10)
df_2021_yy

state
ID    0.414870
AZ    0.405253
MT    0.364309
UT    0.355432
AK    0.284018
SD    0.263158
TN    0.253480
CO    0.247365
VT    0.241303
ME    0.232264
Name: average_listing_price_yy, dtype: float64

In [12]:
# These are the index from the top 10 average list price increase in 2021
df_2021_yy.index

Index(['ID', 'AZ', 'MT', 'UT', 'AK', 'SD', 'TN', 'CO', 'VT', 'ME'], dtype='object', name='state')

### 2.2c Consistent Top 10 Highest Average List Price Increase (2019 and 2021)

In [13]:
# Similar states with a high increase from the top 10 list of 2019 and 2021
similar = (df_2021_yy.index).isin(df_2019_yy.index)
df_2021_yy[similar]

state
ID    0.414870
AK    0.284018
SD    0.263158
Name: average_listing_price_yy, dtype: float64

The predominant states which were within the top 10 high average listing price change in 2019 and 2021 are Idaho (ID), Arkansas (AK) and South Dakota (SD).<br>
# 3. FIPS
## 3.1 Highest Average Listing Price (Mean)
### 3.1a For the Year 2019

In [14]:
# This 10 most expensive listing price by FIPS (state and county code) in 2019
df_2019_FIPS = df_2019.groupby(['FIPS', 'state', 'county', 'density'])['average_listing_price'].mean().nlargest(10)
df_2019_FIPS

FIPS   state  county            density
15007  HI     Kauai County      118        2.022722e+06
15009  HI     Maui County       141        2.000211e+06
25025  MA     Suffolk County    13722      1.471328e+06
8107   CO     Routt County      10         1.222046e+06
15003  HI     Honolulu County   1692       1.154390e+06
6073   CA     San Diego County  784        1.111093e+06
6097   CA     Sonoma County     310        1.102320e+06
8051   CO     Gunnison County   5          1.101377e+06
44005  RI     Newport County    836        1.097214e+06
6001   CA     Alameda County    2276       1.049704e+06
Name: average_listing_price, dtype: float64

### 3.1b For the Year 2021

In [15]:
# The 10 most expensive listing price according to FIPS (county and state code) in 2021  
df_2021_FIPS = df_2021.groupby(['FIPS', 'state', 'county', 'density'])['average_listing_price'].mean().nlargest(10)
df_2021_FIPS

FIPS   state  county                  density
15007  HI     Kauai County            118        2.273151e+06
15009  HI     Maui County             141        2.261603e+06
44005  RI     Newport County          836        1.641150e+06
25025  MA     Suffolk County          13722      1.555851e+06
6073   CA     San Diego County        784        1.533289e+06
6087   CA     Santa Cruz County       608        1.521432e+06
25001  MA     Barnstable County       581        1.476872e+06
6097   CA     Sonoma County           310        1.475733e+06
6079   CA     San Luis Obispo County  85         1.441991e+06
6045   CA     Mendocino County        26         1.371865e+06
Name: average_listing_price, dtype: float64

### 3.1c Consistent Top 10 Highest Average List Price Increase (2019 and 2021)

In [16]:
# Similar FIPS with a high increase from the top 10 list of 2019 and 2021
similar = (df_2021_FIPS.index).isin(df_2019_FIPS.index)
df_2021_FIPS[similar]

FIPS   state  county            density
15007  HI     Kauai County      118        2.273151e+06
15009  HI     Maui County       141        2.261603e+06
44005  RI     Newport County    836        1.641150e+06
25025  MA     Suffolk County    13722      1.555851e+06
6073   CA     San Diego County  784        1.533289e+06
6097   CA     Sonoma County     310        1.475733e+06
Name: average_listing_price, dtype: float64

The consistently high average listing price based on FIPS (state and county code) in 2019 and 2021 are Kauai County and Maui County found in Hawaii. followed by Newport (Rhode Island), Suffolk County (Massahussets), San Diego County (California) and Sonoma County (Caliornia).
## 3.2 Highest Change Average Listing Price (Mean)
This will group the FIPS uniquely and get the mean
### 3.2a For the Year 2019

In [17]:
# The 10 biggest change average listing price according to FIPS (county and state code) in 2019
FIPS_yy_2019 = df_2019.groupby(['FIPS', 'state', 'county', 'density'])['average_listing_price_yy'].mean().nlargest(50)
FIPS_yy_2019.head(5)

FIPS   state  county               density
48263  TX     Kent County          0          8.324400
40057  OK     Harmon County        4          8.233333
31129  NE     Nuckolls County      7          8.007422
48433  TX     Stonewall County     1          6.217400
30075  MT     Powder River County  0          5.036933
Name: average_listing_price_yy, dtype: float64

### 3.2b For the Year 2021

In [18]:
# The 10 biggest change average listing price according to FIPS (county and state code) in 2021
FIPS_yy_2021 = df_2021.groupby(['FIPS', 'state', 'county', 'density'])['average_listing_price_yy'].mean().nlargest(50)
FIPS_yy_2021.head(5)

FIPS   state  county               density
48433  TX     Stonewall County     1          4.896329
38087  ND     Slope County         0          4.180000
4011   AZ     Greenlee County      5          3.247392
2060   AK     Bristol Bay Borough  1          3.040167
46089  SD     McPherson County     2          2.293942
Name: average_listing_price_yy, dtype: float64

### 3.2c Consistent Top 10 Highest Average List Price Mean (2019 and 2021) 
This uses top 50 results from the 2019 and 2021

In [19]:
# Similar FIPS with a high mean change in average listing price from the top 10 list of 2019 and 2021
similar =(FIPS_yy_2021.index).isin(FIPS_yy_2019.index)
FIPS_yy_2021[similar]

FIPS   state  county               density
48433  TX     Stonewall County     1          4.896329
40139  OK     Texas County         10         1.531458
48263  TX     Kent County          0          1.482786
48447  TX     Throckmorton County  1          1.382014
13125  GA     Glascock County      20         1.261520
46055  SD     Haakon County        1          1.215833
31031  NE     Cherry County        0          0.954075
Name: average_listing_price_yy, dtype: float64

In 2019 and 2021, the counties that experience high in average listing price mean are Stonewall County (TX), Texas County(OK), Kent County (TX), Throckmorton County (TX), Glascock County (GA), Haakon County (SD), Cherry County (NE)
## 3.3 Highest Change Average Listing Price 
### 3.3a For the Year 2019

In [20]:
df_2019.describe()

,FIPS,year,month,density,active_listing_count,average_listing_price,average_listing_price_mm,average_listing_price_yy,median_listing_price,median_listing_price_mm,median_listing_price_yy,median_listing_price_per_square_foot,median_square_feet,total_listing_count
count,35419.000000,35419.0,35419.000000,35419.000000,35419.000000,3.541900e+04,35371.000000,35277.000000,3.541900e+04,35371.000000,35277.000000,35419.000000,35419.000000,35419.000000
mean,30673.352692,2019.0,6.496090,187.561676,333.854824,2.626799e+05,0.007011,0.074249,2.029310e+05,0.009983,0.081935,110.952794,1880.311895,442.084277
std,15064.001823,0.0,3.455231,696.616784,786.667961,1.511377e+05,0.129378,0.506023,1.044429e+05,0.190632,0.525111,364.399991,386.981097,1117.713849
min,1001.000000,2019.0,1.000000,0.000000,0.000000,9.900000e+03,-0.939100,-0.990300,9.900000e+03,-0.905900,-0.978600,6.000000,4.000000,0.000000
25%,19035.000000,2019.0,3.000000,16.000000,39.000000,1.657925e+05,-0.020800,-0.039600,1.300000e+05,-0.021700,-0.034500,76.000000,1640.000000,46.000000
50%,30013.000000,2019.0,6.000000,43.000000,109.000000,2.272920e+05,0.002100,0.038500,1.774500e+05,0.000000,0.043500,98.000000,1840.000000,133.000000
75%,45047.000000,2019.0,9.000000,111.000000,306.000000,3.180425e+05,0.028000,0.129100,2.517930e+05,0.028900,0.133100,127.000000,2056.000000,384.000000
max,56045.000000,2019.0,12.000000,15692.000000,17289.000000,2.235543e+06,12.300000,39.000000,1.149000e+06,24.600000,39.000000,56250.000000,11000.000000,26147.000000

In [21]:
# This is the 10 biggest change in the average lisitng price in a county and state (FIPS)
## at any point in time in 2019
df_2019.drop_duplicates('average_listing_price_yy').nlargest(10, 'average_listing_price_yy')

,FIPS,year,month,county,state,date,density,active_listing_count,average_listing_price,average_listing_price_mm,average_listing_price_yy,median_listing_price,median_listing_price_mm,median_listing_price_yy,median_listing_price_per_square_foot,median_square_feet,total_listing_count,category
12062,2185,2019,6,North Slope Borough,AK,2019-06-01,0,0.0,300000.0,-0.0909,39.0000,300000.0,-0.0909,39.0000,223.0,1344.0,0.0,Down from last month
16476,13125,2019,11,Glascock County,GA,2019-11-01,20,4.0,260750.0,0.5340,19.8600,339000.0,0.5860,26.1200,124.0,2144.0,6.0,Increase in prices
29055,31129,2019,6,Nuckolls County,NE,2019-06-01,7,21.0,180650.0,0.0200,19.2978,120000.0,0.5000,12.4831,63.0,1793.0,23.0,Increase in prices
33880,20157,2019,3,Republic County,KS,2019-03-01,6,3.0,138470.0,0.0336,19.0682,84800.0,1.8361,11.2899,55.0,1641.0,5.0,Increase in prices
29054,31129,2019,5,Nuckolls County,NE,2019-05-01,7,17.0,177102.0,0.2618,18.8991,80000.0,-0.0244,7.9888,55.0,1856.0,18.0,Increase in prices
14426,48263,2019,6,Kent County,TX,2019-06-01,0,2.0,457500.0,-0.0918,17.3000,550000.0,0.0000,21.0000,186.0,2963.0,3.0,Increase in prices
29051,31129,2019,2,Nuckolls County,NE,2019-02-01,7,2.0,265733.0,-0.4684,14.2611,322400.0,-0.3551,17.5154,161.0,2310.0,2.0,Down from last month
27850,40057,2019,7,Harmon County,OK,2019-07-01,4,1.0,140000.0,0.3333,13.0000,140000.0,0.3333,13.0000,53.0,2639.0,1.0,Increase in prices
29052,31129,2019,3,Nuckolls County,NE,2019-03-01,7,8.0,173144.0,-0.3484,12.6334,117043.0,-0.6370,8.2160,97.0,1806.0,8.0,Down from last month
24699,46003,2019,8,Aurora County,SD,2019-08-01,3,4.0,249183.0,-0.0057,12.4693,149900.0,0.0000,7.1027,74.0,1736.0,4.0,Increase in prices

### 3.3b For the Year 2021

In [22]:
df_2021.describe()

,FIPS,year,month,density,active_listing_count,average_listing_price,average_listing_price_mm,average_listing_price_yy,median_listing_price,median_listing_price_mm,median_listing_price_yy,median_listing_price_per_square_foot,median_square_feet,total_listing_count
count,31653.000000,31653.0,31653.000000,31653.000000,31653.000000,3.165300e+04,31573.000000,31508.000000,3.165300e+04,31573.000000,31508.000000,31653.000000,31653.00000,31653.000000
mean,30922.971061,2021.0,6.450921,180.980444,125.728209,3.109508e+05,0.016613,0.164060,2.359385e+05,0.034978,0.161067,129.044135,1853.24320,273.465675
std,15068.356537,0.0,3.460602,707.797851,317.075906,1.943754e+05,0.178037,0.399267,1.311195e+05,1.779027,0.449879,69.402315,444.85937,708.720434
min,1001.000000,2021.0,1.000000,0.000000,0.000000,1.580000e+04,-0.989600,-0.986900,2.382000e+03,-0.994700,-0.994700,1.000000,375.00000,0.000000
25%,19053.000000,2021.0,3.000000,16.000000,16.000000,1.873270e+05,-0.039800,-0.016000,1.472500e+05,-0.039900,-0.028500,86.000000,1600.00000,27.000000
50%,30063.000000,2021.0,6.000000,42.000000,42.000000,2.671320e+05,0.004900,0.116700,2.029500e+05,0.000000,0.097000,114.000000,1800.00000,76.000000
75%,45089.000000,2021.0,9.000000,106.000000,109.000000,3.783350e+05,0.054700,0.278625,2.919250e+05,0.055600,0.251225,153.000000,2026.00000,218.000000
max,56045.000000,2021.0,12.000000,34979.000000,10010.000000,2.850052e+06,10.653100,10.920400,1.625000e+06,313.441600,12.428600,998.000000,30042.00000,18790.000000

In [23]:
# This is the 10 biggest change in the average lisitng price in a county and state (FIPS)
# at any point in time in 2021
df_2021.drop_duplicates('average_listing_price_yy').nlargest(10, 'average_listing_price_yy')

,FIPS,year,month,county,state,date,density,active_listing_count,average_listing_price,average_listing_price_mm,average_listing_price_yy,median_listing_price,median_listing_price_mm,median_listing_price_yy,median_listing_price_per_square_foot,median_square_feet,total_listing_count,category
4869,4011,2021,12,Greenlee County,AZ,2021-12-01,5,5.0,893580.0,-0.2239,10.9204,160000.0,-0.3600,1.1333,79.0,2274.0,8.0,Down from last month
13960,48433,2021,6,Stonewall County,TX,2021-06-01,1,2.0,207000.0,0.0000,8.2000,279000.0,0.0000,11.4000,125.0,2252.0,2.0,Increase in prices
2423,16033,2021,12,Clark County,ID,2021-12-01,0,5.0,512483.0,0.1389,7.5414,575000.0,0.6429,8.5833,584.0,1300.0,6.0,Increase in prices
13959,48433,2021,5,Stonewall County,TX,2021-05-01,1,2.0,207000.0,0.0481,7.2800,279000.0,0.3007,10.1600,126.0,2252.0,3.0,Increase in prices
13958,48433,2021,4,Stonewall County,TX,2021-04-01,1,2.0,197500.0,0.0130,6.9000,214500.0,-0.1061,7.5800,101.0,2252.0,3.0,Increase in prices
12229,48107,2021,2,Crosby County,TX,2021-02-01,5,2.0,266833.0,1.8311,6.8654,307000.0,1.7301,4.7979,105.0,2874.0,7.0,Increase in prices
13957,48433,2021,3,Stonewall County,TX,2021-03-01,1,1.0,194975.0,0.0000,6.7990,239950.0,0.0000,8.5980,82.0,2826.0,3.0,Increase in prices
13369,48327,2021,11,Menard County,TX,2021-11-01,2,2.0,542479.0,-0.4794,6.6540,605975.0,-0.1281,7.3872,535.0,1320.0,5.0,Down from last month
2422,16033,2021,11,Clark County,ID,2021-11-01,0,6.0,449967.0,0.0000,6.4994,350000.0,0.0000,4.8333,267.0,1289.0,6.0,Increase in prices
95,8017,2021,1,Cheyenne County,CO,2021-01-01,0,2.0,224933.0,0.1252,6.4978,175000.0,0.7518,4.8333,101.0,2896.0,4.0,Increase in prices

# 4. Individual States (Hawaii)
## 4.1 Average Listing Price
### 4.1a For the Year 2019

In [24]:
df_2019[(df_2019['state']=='HI')].describe().T

,count,mean,std,min,25%,50%,75%,max
FIPS,48.0,1.500500e+04,3.195742,15001.0000,1.500250e+04,1.500500e+04,1.500750e+04,1.500900e+04
year,48.0,2.019000e+03,0.000000,2019.0000,2.019000e+03,2.019000e+03,2.019000e+03,2.019000e+03
month,48.0,6.500000e+00,3.488583,1.0000,3.750000e+00,6.500000e+00,9.250000e+00,1.200000e+01
density,48.0,5.000000e+02,696.325309,49.0000,1.007500e+02,1.295000e+02,5.287500e+02,1.692000e+03
active_listing_count,48.0,1.517479e+03,980.777156,434.0000,8.035000e+02,1.277000e+03,1.955750e+03,3.144000e+03
average_listing_price,48.0,1.548047e+06,479383.881315,990257.0000,1.109124e+06,1.478582e+06,1.982224e+06,2.235543e+06
average_listing_price_mm,48.0,6.362500e-03,0.028038,-0.0643,-7.675000e-03,5.400000e-03,1.987500e-02,8.850000e-02
average_listing_price_yy,48.0,4.674375e-02,0.124386,-0.1310,-4.015000e-02,1.000000e-02,1.103500e-01,3.556000e-01
median_listing_price,48.0,7.716566e+05,223217.173175,427000.0000,6.191250e+05,7.967500e+05,9.512358e+05,1.149000e+06
median_listing_price_mm,48.0,2.214583e-03,0.026119,-0.0446,-1.295000e-02,-7.500000e-04,1.150000e-02,7.920000e-02
median_listing_price_yy,48.0,2.267708e-02,0.104627,-0.1196,-5.212500e-02,-3.450000e-03,9.302500e-02,3.454000e-01
median_listing_price_per_square_foot,48.0,5.467917e+02,140.507887,304.0000,4.912500e+02,5.695000e+02,6.562500e+02,7.160000e+02
median_square_feet,48.0,1.449875e+03,165.332370,1144.0000,1.355500e+03,1.466000e+03,1.574500e+03,1.705000e+03
total_listing_count,48.0,1.764292e+03,920.772894,572.0000,1.078250e+03,1.688000e+03,2.381000e+03,3.149000e+03

In [25]:
# Checks the number of county
HI_2019 = df_2019[(df_2019['state']=='HI')]
HI_2019['county'].drop_duplicates()

4656      Hawaii County
4668    Honolulu County
4680       Kauai County
4692        Maui County
Name: county, dtype: object

In [26]:
# This is the number of counties in Hawaii
len(HI_2019['county'].drop_duplicates())

4

In [27]:
HI_2019.groupby(['FIPS','county', 'density'])['average_listing_price'].mean().nlargest()

FIPS   county           density
15007  Kauai County     118        2.022722e+06
15009  Maui County      141        2.000211e+06
15003  Honolulu County  1692       1.154390e+06
15001  Hawaii County    49         1.014865e+06
Name: average_listing_price, dtype: float64

### 4.1b For the Year 2021

In [28]:
df_2021[(df_2021['state']=='HI')].describe().T

,count,mean,std,min,25%,50%,75%,max
FIPS,48.0,1.500500e+04,3.195742,1.500100e+04,1.500250e+04,1.500500e+04,1.500750e+04,1.500900e+04
year,48.0,2.021000e+03,0.000000,2.021000e+03,2.021000e+03,2.021000e+03,2.021000e+03,2.021000e+03
month,48.0,6.500000e+00,3.488583,1.000000e+00,3.750000e+00,6.500000e+00,9.250000e+00,1.200000e+01
density,48.0,5.000000e+02,696.325309,4.900000e+01,1.007500e+02,1.295000e+02,5.287500e+02,1.692000e+03
active_listing_count,48.0,8.536250e+02,822.142417,1.800000e+02,3.625000e+02,4.700000e+02,1.070500e+03,3.199000e+03
average_listing_price,48.0,1.776542e+06,537442.119851,1.112364e+06,1.303248e+06,1.613042e+06,2.307648e+06,2.850052e+06
average_listing_price_mm,48.0,2.012708e-02,0.070384,-2.031000e-01,-1.067500e-02,1.640000e-02,5.092500e-02,2.547000e-01
average_listing_price_yy,48.0,1.920583e-01,0.198684,-1.677000e-01,3.180000e-02,2.101500e-01,3.414250e-01,5.926000e-01
median_listing_price,48.0,8.865302e+05,358344.438153,4.760000e+05,5.628750e+05,7.690000e+05,1.156250e+06,1.625000e+06
median_listing_price_mm,48.0,2.437292e-02,0.057412,-7.550000e-02,-1.882500e-02,1.440000e-02,4.915000e-02,1.652000e-01
median_listing_price_yy,48.0,2.176000e-01,0.274617,-1.735000e-01,5.367500e-02,1.600000e-01,4.493750e-01,7.977000e-01
median_listing_price_per_square_foot,48.0,6.493542e+02,184.473315,3.510000e+02,5.322500e+02,6.810000e+02,7.920000e+02,9.980000e+02
median_square_feet,48.0,1.356458e+03,277.420332,8.950000e+02,1.080500e+03,1.438000e+03,1.533000e+03,1.927000e+03
total_listing_count,48.0,1.527583e+03,1211.126060,3.560000e+02,6.632500e+02,1.072500e+03,1.908500e+03,5.342000e+03

In [29]:
HI_2021 = df_2021[(df_2021['state']=='HI')]
HI_2021.groupby(['FIPS','county', 'density'])['average_listing_price'].mean().nlargest()

FIPS   county           density
15007  Kauai County     118        2.273151e+06
15009  Maui County      141        2.261603e+06
15003  Honolulu County  1692       1.288058e+06
15001  Hawaii County    49         1.283354e+06
Name: average_listing_price, dtype: float64

# 4. Individual States (Massachusetts)
## 4.2 Average Listing Price
### 4.2a For the Year 2019

In [30]:
# This are the list of counties in Massachusetts
MA_2019 = df_2019[(df_2019['state']=='MA')]
MA_2019['county'].drop_duplicates()

3973    Barnstable County
3985     Berkshire County
3997       Bristol County
4009         Essex County
4021      Franklin County
4033       Hampden County
4045     Hampshire County
4057     Middlesex County
4069       Norfolk County
4081      Plymouth County
4093       Suffolk County
4105     Worcester County
Name: county, dtype: object

In [31]:
# This is the number of counties in Massochusetts
len(MA_2019['county'].drop_duplicates())

12

In [32]:
MA_2019.groupby(['FIPS','county', 'density'])['average_listing_price'].mean().nlargest(12)

FIPS   county             density
25025  Suffolk County     13722      1.471328e+06
25017  Middlesex County   1995       9.772631e+05
25001  Barnstable County  581        9.664294e+05
25021  Norfolk County     1832       9.615623e+05
25009  Essex County       1644       8.081962e+05
25023  Plymouth County    805        6.549784e+05
25003  Berkshire County   139        6.314927e+05
25005  Bristol County     1047       4.752997e+05
25027  Worcester County   570        4.286452e+05
25015  Hampshire County   307        4.216835e+05
25011  Franklin County    101        3.365358e+05
25013  Hampden County     754        2.978457e+05
Name: average_listing_price, dtype: float64

### 4.2b For the Year 2021

In [33]:
MA_2021 = df_2021[(df_2021['state']=='MA')]
MA_2021.groupby(['FIPS','county', 'density'])['average_listing_price'].mean().nlargest(12)

FIPS   county             density
25025  Suffolk County     13722      1.555851e+06
25001  Barnstable County  581        1.476872e+06
25021  Norfolk County     1832       1.083184e+06
25017  Middlesex County   1995       1.078144e+06
25003  Berkshire County   139        9.752928e+05
25009  Essex County       1644       9.377348e+05
25023  Plymouth County    805        7.506079e+05
25005  Bristol County     1047       6.631889e+05
25015  Hampshire County   307        5.355079e+05
25027  Worcester County   570        4.960157e+05
25011  Franklin County    101        4.360453e+05
25013  Hampden County     754        3.737752e+05
Name: average_listing_price, dtype: float64